<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="BasketServer"
             providerName=""
             connectionString="Data Source=C:\Users\alexa\RiderProjects\basket_server\basketserver.db;Version=3;" />
    </connectionStrings>
</configuration>
