<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection"
                         connectionString="Data Source=ALEXANDRA\SQLEXPRESS;Initial Catalog=CabinetStomatologic;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"

             providerName="System.Data.SqlClient" />
	</connectionStrings> 
	<appSettings>
		<add key="ParentTableName" value="Medici" />
		<add key="ChildTableName" value="Asistenti" />
		<add key="ParentColumnNames" value="IDMedic,Nume,Prenume,Telefon,Sectie" />
		<add key="ChildColumnNames" value="IDAsistent,Nume,Prenume,Telefon,Medic" />
		<add key="ParentID" value="IDMedic" />
		<add key="ChildID" value="IDAsistent" />
		<add key="InsertQuery" value="INSERT INTO Asistenti (Nume,Prenume,Telefon,Medic) VALUES (@Nume,@Prenume,@Telefon,@Medic)" />
		<add key="UpdateQuery" value="UPDATE Asistenti SET Nume=@Nume,Prenume=@Prenume,Telefon=@Telefon,Medic=@Medic WHERE IDAsistent=@IDAsistent" />
		<add key="DeleteQuery" value="DELETE FROM Asistenti WHERE IDAsistent=@IDAsistent" />
		<add key="InsertCommandParameters" value="@IDAsistent,@Nume,@Prenume,@Telefon,@Medic" />
		<add key="UpdateCommandParameters" value="@IDAsistent,@Nume,@Prenume,@Telefon,@Medic" />
		<add key="ParentSelect" value="SELECT * FROM Medici" />
		<add key="ChildSelect" value="SELECT * FROM Asistenti WHERE Medic=@IDMedic" />
	</appSettings>
</configuration>
